<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{{.Bookshelf.Title}} — &lt;My Bookshelf&gt;</title>
    <link rel="stylesheet" href="{{.CssDir}}/styles.css" type="text/css" />
    <link rel="stylesheet" href="{{.CssDir}}/my-bookshelf.css" type="text/css" />
    <link rel="stylesheet" href="{{.CssDir}}/bookshelf.css" type="text/css" />
</head>

<body>
<div id="page-wrapper">
    <div id="content-wrapper">
        <header>
            <div><img src="{{.ImgDir}}/logo.png" class="mb-logo" />&lt;<strong>My Bookshelf</strong>&gt;</div>
        </header>
        <h1>{{.Bookshelf.Title}}</h1>

        <p><em>{{.Bookshelf.Intro}}</em></p>

        {{if not .Bookshelf.Books}}
            <p><small>Bookshelf is empty.</small></p>
        {{else}}
        <ul class="bookshelf">
            {{range .Bookshelf.Books}}
            <li class="bookshelf-book">
                <a href="{{.Url}}" target="_blank"><img src="{{$.CoversDir}}/{{.Cover}}" alt="Обложка" class="bookshelf-book-cover" /></a>
                <div class="bookshelf-book-info">
                    <h3 class="bookshelf-book-info-title bookshelf-name"><a href="{{.Url}}">{{.Name}}</a></h3>
                <p class="bookshelf-book-info-authors">
                {{range .Authors}}
                    <a href="{{.Url}}" target="_blank">{{.Name}}</a>{{if 1}}, {{end}}
                {{end}}
                </p>
                <p class="bookshelf-book-info-publication">
                    Издательство <span class="bookshelf-name"><a href="{{.Publish.Publisher.Url}}" target="_blank">{{.Publish.Publisher.Name}}</a></span>;
                    <span class="bookshelf-pages">{{.Publish.Pages}}</span>; <span class="bookshelf-year">{{.Publish.Year}}</span>
                </p>
                <div class="bookshelf-raiting-outer">
                    <div class="bookshelf-raiting-inner" style="width:{{.MyRatingPercent}}%"></div>
                </div>
                <p class="bookshelf-review">{{.MyReview}}</p>
            </div>
            </li>
            {{end}}
        </ul>
        {{end}}
    </div>
    <footer>&copy; <a href="http://valera.ws/" title="Personal blog" target="_blank">Valera Leontyev</a>, 2018. &lt;My Bookshelf&gt; application.</footer>
</div>
</body>
</html>